<%- include("../partials/header") %>

<div class="container" id="assignments-content">
<h1 class="text-center">Assignments</h1>

    
    <% session.assignments.forEach(function(assignment){ %>
        <div class="border rounded" id="assignmentsContentDivider">
            <div class="caption">
                <p>
                    <h2>
                        <strong><%= assignment.author.username %></strong> - <%= assignment.text %>
                    </h2>    
                </p>
            </div>
            <p class="text-right"><span>Created: <%= assignment.created.toDateString() %></span> </p>
            <hr>
            <div>
                <p><%= assignment.description %></p>
            </div>
            <p>
                <a href="/sessions/<%= session._id %>/assignments/show" class="btn btn-primary">View</a>
            </p>
        </div>
        
        
    <% }) %>





</div>

<a href="/sessions/<%= session._id %>/assignments/new" class="material-icons floating-btn">add</a>
<div class="label-container">
    <div class="label-text">Create Session</div>
    <i class="fa fa-play label-arrow"></i>
</div>

<%- include("../partials/footer") %>